.Card {
    width: 90%;
    margin: auto
}

.ImgGrid {
    display: none
}

.CartCenter, .QtyGrid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px;
}

.CartImg {
    display: none
}

.PriceTimesUnits {
    display: none
}

.QtyField {
    width: 50%;
}

.QtyGrid {
    justify-content: flex-end;
}

.TotalLabel {
    font-weight: bold
}

@media only screen and (min-width: 600px) {
    
    .CartImg {
        display: flex;
        width: 50px
    }

    .QtyField {
        width: 30%
    }

    .QtyGrid {
        justify-content: center;
    }

    .ImgGrid, .PriceTimesUnits, .TotalLabelGrid, .TotalQtyGrid {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px        
    }

}