.Card {
    width: 90%;
    margin: auto
}

.ImgGrid {
    display: none
}

.CartCenter, .QtyGrid, .CheckoutGrid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px;
}

.CheckoutGrid {
    justify-content: flex-end;
    padding: 10px 3px;
}

.CartImg {
    display: none
}

.PriceTimesUnits {
    display: none
}

.QtyField {
    width: 80%;
}

.QtyGrid {
    justify-content: flex-end;
}

.TotalLabelGrid, .TotalQtyGrid {
    padding:3px
}

@media only screen and (min-width: 600px) {

    .CartImg {
        display: flex;
        width: 50px
    }

    .QtyField {
        width: 40%
    }

    .QtyGrid {
        justify-content: center;
    }

    .ImgGrid, .PriceTimesUnits, .TotalLabelGrid, .TotalQtyGrid {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px        
    }

    .TotalLabelGrid, .TotalQtyGrid {
        padding: 10px
    }

}