.ShoppingItemsCard {
    width: 90%;
    margin: auto;
    padding: 10px
}

.Product {
    padding: 10px;
    text-align: center
}

.ProductSpan {
    cursor: pointer;
}

.Img {
    width: 150px;
    height: 150px
}

.ImgDialog {
    width: 250px
}

.DialogAct {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtonTxt {
    text-transform: uppercase;
}

.DialogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}