.CheckoutDiv {
    margin: auto;
    width: 80%;
}

.CheckoutCard, .CheckoutDoneMsg {
    padding: 10px
}

.BillingGrid, .FormError, .FormInfo, .CheckoutDoneMsg  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.PaymentGrid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.BillingInput {
    width: 100%;
}

.PaymentBtns {
    width: 70%;
}

.PaymentLogo {
    width: 40%;
}

.SuccessIcon, .ErrorIcon {
    color: #004c00;
}

.ErrorIcon {
    color: #cc0000;
}

.List {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 600px) {
    .PaymentLogo {
        width: 15%;
    }
}