.CheckoutDiv {
    margin: auto;
    width: 80%;
}

.CheckoutCard {
    padding: 10px
}

.BillingGrid, .FormError, .FormInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.PaymentGrid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.BillingInput {
    width: 100%;
}

.PaymentBtns {
    width: 70%;
}

.PaymentLogo {
    width: 40%;
}

@media only screen and (min-width: 600px) {
    .PaymentLogo {
        width: 15%;
    }
}